@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
}

/*Logo, Header and Subscribe Link*/

.flex-container-header {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    justify-content: center;
}

.flex-container-header>div {
    width: 500px;
    height: 80px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    color: white;
}

#logo {
    height: 80px;
    width: 154px;
}

/* Navigation Links */

.navbar {
    width: 100%;
    background: #3a3a3a;
    height: 50px;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
}

.navbar li {
    font-size: 110%;
    color: white;
}

/* #menu li {
    display: inline;
    list-style-type: none;}*/
/* margin-right: 30px; */

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #ffffff;
}

.active {
    border-bottom: 1px solid #ffffff
}

/* Hero Image with Text - Section 1 */

#hero {
    height: 500px;

    overflow: hidden;
    position: relative;
    margin-top: 200px;
}



/*
#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/lrg_pic_enigmamachine.png') no-repeat center center;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding-top: 60px;
    padding-left: 10px;
    background-color: rgba(207, 153, 71, 0.7);
    bottom: 30px;
    right: 150px;
    position: absolute;
}

*/