@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
}

.header {
    background: #000000;
    color: white;
    height: 80px;
    width: 100%;
    position: fixed;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container>div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.header p {
    margin-left: 25px;
}

.navbar {
    background: #3a3a3a;
    color: white;
    height: 50px;
    width: 100%;
    margin-top: 80px;
    position: fixed;
}

/* #subscribe {
    float: right;
    margin-right: 50px;
    margin-top: 40px;
} */

/* headings and logo */

#logo {
    height: 80px;
    width: 154px;
}

/* navigation links */
#menu {
    line-height: 50px;
    position: fixed;
    left: 33%;
    font-size: 110%;
    letter-spacing: 4px;

}

#menu #logo {
    line-height: 75px;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #ffffff;
}

.active {
    border-bottom: 1px solid #ffffff
}

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/lrg_pic_enigmamachine.png') no-repeat center center;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 60px;
    padding-left: 10px;

    background-color: rgba(207, 153, 71, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}